.container {
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputText {
  height: 50px;
  min-width: 280px;
  max-width: 600px;
  width: 80vw;
  background-color: transparent;
  border: 2px solid dimgray;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom: none;
  color: #f8f8f8;
  outline: none;
  text-align: center;
  font-size: large;
  font-weight: 200;
  font-family: 'JetBrains Mono', monospace;
}

.inputText::placeholder {
  font-size: large;
  color: #f8f8f8;
  text-align: center;
}

.submitBtn {
  height: 50px;
  min-width: 280px;
  max-width: 600px;
  width: 80vw;
  background-color: transparent;
  border: 2px solid dimgray;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-radius: 2px;
  color: #f8f8f8;
  outline: none;
  cursor: pointer;
  font-size: large;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 1px;
  font-family: 'JetBrains Mono', monospace;
}