.container {
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  color: aliceblue;
  font-weight: 400;
  letter-spacing: 2px;
  border-bottom: 1.5px solid #f8f8f8;
  padding-left: 5px;
  padding-right: 5px;
  transition-duration: .5s;
  cursor: pointer;
  text-shadow: 0 0 8px #f8f8f8;
  font-size: larger;
}

.h1:hover {
  color: thistle;
  border-bottom: 1.5px solid thistle;
  transition-duration: .5s;
  text-shadow: 0 0 15px thistle;
}